<%= link_to tasting_path(participation.tasting) do %>
  <div class="dashboard-card">
    <% if participation.tasting.photo.attached? %>
      <%= cl_image_tag participation.tasting.photo.key%>
    <% else %>
      <%= image_tag participation.tasting.image%>
    <% end %>
    <h3>
      <%= participation.tasting.title %>
    </h3>
    <p class="text-right mr-3 text-muted">
      <%= participation.tasting.date.to_time.strftime('%B %e <br> %l:%M %p').html_safe %>
    </p>
  </div>
<% end %>
