<div class="head-banner">
  <div class="head-title">
    <h1>Conversations</h1>
  </div>
</div>
<div class="container">
  <div class="sticky-top conversation-head-banner">
    <% @conversations.each do |conversation| %>
      <% if conversation.other_user == @current_conversation.other_user %>
        <%= link_to conversation.other_user.username, conversations_path(user_id: conversation.other_user.id), class: "head-banner-item border-bottom" %>
      <% else %>
        <%= link_to conversation.other_user.username, conversations_path(user_id: conversation.other_user.id), class: "head-banner-item" %>
      <% end %>

    <% end %>
  </div>
  <div>
    <% @current_conversation.messages.each do |message|  %>
    <div>
      <%= image_tag message.sender.avatar, class: "avatar" %>
      <strong class="message-name text-dark px-2"><%= message.sender.username %></strong>
      <small><%= time_ago_in_words(message.created_at) %>ago</small>
      <p class="message-content" id="message-<%= message.id %>"> <%= message.content %></p>
      <hr>
    <% end %>
    </div>
  </div>
  <div id="new">
    <% if @current_conversation.other_user %>
      <div class="message-form form-group">
        <%= simple_form_for @message, url:conversation_messages_path(@current_conversation.other_user) do |f|%>
          <%= f.input :content, label: false, class: "form-control ", placeholder: "Type your message" %>
          <%= f.button :submit, "Send" , class: 'btn btn-primary rounded-pill' %>
        <% end %>
      </div>
    <% else %>
    <p class="ml-5">You have no conversations for the moment</p>
    <% end %>
  </div>
</div>
