<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mt-5 pt-4">
  <ul class="navbar-nav m-auto">
    <li class="nav-item mx-3">
      <i class="fas fa-home"></i>
      <%= link_to "Home" , root_path , class: "nav-link" %>
    </li>
    <li class="nav-item mx-3">
      <i class="fas fa-utensils"></i>
      <%= link_to "Tastings" , tastings_path , class: "nav-link" %>
    </li>
    <li class="nav-item mx-3">
      <i class="fas fa-plus-square"></i>
      <%= link_to "Host a Tasting" , new_tasting_path , class: "nav-link" %>
    </li>
    <li class="nav-item mx-3">
      <i class="fas fa-user-circle"></i>
      <%= link_to "Profile" , dashboard_path , class: "nav-link" %>
    </li>
  </ul>
</div>
