<div class="navbar my-navbar navbar-light">
  <ul class="navbar-nav my-navbar-nav m-auto">
    <%= link_to root_path, class: "nav-link my-nav-link" do %>
      <li class="nav-item my-nav-item mx-3">
        <i class="fas fa-home mx-auto text-body"></i>
        <p class="mt-2">Home</p>
      </li>
    <% end %>

    <%= link_to tastings_path, class: "nav-link my-nav-link" do %>
      <li class="nav-item my-nav-item mx-3">
        <i class="fas fa-utensils mx-auto text-body"></i>
        <p class="mt-2">Tastings</p>
      </li>
    <% end %>

    <%= link_to new_tasting_path, class: "nav-link my-nav-link" do %>
      <li class="nav-item my-nav-item mx-3">
        <i class="fas fa-plus-square mx-auto text-body"></i>
        <p class="mt-2">Host</p>
      </li>
    <% end %>

    <%= link_to conversations_path, class: "nav-link my-nav-link" do %>
      <li class="nav-item my-nav-item mx-3">
        <i class="fas fa-comments mx-auto text-body"></i>
        <p class="mt-2">DM</p>
      </li>
    <% end %>

    <%= link_to dashboard_path, class: "nav-link my-nav-link" do %>
      <li class="nav-item my-nav-item mx-3">
        <i class="fas fa-user-circle mx-auto text-body"></i>
        <p class="mt-2">Profile</p>
      </li>
    <% end %>

  </ul>
</div>
