<div class="head-banner">
  <img src="/../../assets/images/IMG_2036.jpg"alt="">
  <h1>Tastogether</h1>
  <p>What is taste without buds?</p>
</div>
<div class="container background-img">
  <p class="pt-4"><em>Tastogether allows you to discover nearby food experiences.</em></p>
    <div class="search-form-control form-group pt-3">
      <form method='get' action="/tastings">
        <%= text_field_tag :query, params[:query], class: "form-control " , placeholder: "Find a Tasting" %>
          <%= submit_tag "Discover" , class: "btn mt-3 " %>
      </form>
    </div>
  <h4 class="pt-4" style="color: #EEEBDD;"><em>Popular categories</em></h4>
  <div class="category-cards mx-5">
    <div class="category-card mx-auto" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1600070338156-c39c9b594cd1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80)">
      <%= link_to "Chocolate" , tastings_path(:query=> "chocolate"), class: "text-white"%>
    </div>

    <div class="category-card mx-auto"
      style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1515557578-37803a809769?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80)">
      <%= link_to "Coffee" , tastings_path(:query=> "coffee"), class: "text-white" %>
    </div>

    <div class="category-card mx-auto"
      style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1599719455360-ff0be7c4dd06?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1464&q=80)">
      <%= link_to "Banh my" , tastings_path(:query=> "banh my"), class: "text-white" %>
    </div>

    <div class="category-card mx-auto"
      style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1590083745251-4fdb0b285c6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=956&q=80)">
      <%= link_to "Pizza" , tastings_path(:query=> "pizza"), class: "text-white" %>
    </div>
  </div>

</div>
