<div class="head-banner">
  <div class="head-title">
    <h4 class="mb-0"><%= params[:query].nil? || params[:query] == "" ? "" :  "#" + params[:query].downcase %></h4>
    <div class="d-flex justify-content-between">
      <h1>Tastings</h1>
      <%= image_tag "Tastogether_Thicker.png" , class:"align-self-center"%>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'shared/search_form' %>
  <div>
      <p><%= @tastings.count %> <%= @tastings.count != 1 ? "results" : "result" %> found</p>
      <div class="row justify-content-center">
        <% @tastings.each do |tasting| %>
          <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
            <%= link_to tasting_path(tasting), class: "text-decoration-none text-dark" do %>
              <div class="card my-3" style="width: 300px;">
                <div>
                  <% if tasting.photo.attached? %>
                    <%= cl_image_tag tasting.photo.key, class: "card-photo", transformation: { crop:"fill", height:200, width:300} %>
                  <% else %>
                    <%= image_tag tasting.image, class: "card-photo"%>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <% if tasting.host.photo.attached? %>
                      <%= cl_image_tag tasting.host.photo.key, class: "card-product-user rounded-circle", width: 50, height: 50%>
                    <% elsif tasting.host.avatar? %>
                      <%= image_tag tasting.host.avatar, class: "card-product-user rounded-circle", width: 50, height: 50 %>
                    <% else %>
                      <%= image_tag 'https://res.cloudinary.com/dd3n6uf2t/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,b_rgb:262c35/v1630205006/silhouette_od01kv.jpg', class: "card-product-user rounded-circle border", width: 50, height: 50 %>
                    <% end %>
                  </div>
                  <h3 class="card-title"><%= tasting.title %></h3>
                  <div class="d-flex">
                      <% tasting.categories.each do |category| %>
                        <%= link_to "/tastings?query=#{category.name.downcase}&commit=Discover", query: category.name.downcase do %>
                          <p class="card-text">#<%= category.name.downcase %> &emsp;</p>
                        <% end %>
                      <% end %>
                  </div>
                </div>
                <ul>
                  <li class="text-right mb-2">
                    <p><%= tasting.start_at.strftime('%B %e at %l:%M %p') %></p>
                    <p><%= "Montreal" %></p>
                    <% if  current_user.latitude.present?%>
                      <p><%= current_user.distance_to([tasting.latitude, tasting.longitude]).round(2) %>km</p>
                    <% end %>
                  </li>
                </ul>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>
