<div class="bg-secondary mb-4 py-3 d-flex justify-content-around align-items-center">
  <div>
    <h4 class="mb-0"><%= params[:query].nil? ? "" : params[:query].downcase%>
    <h1>Tastings</h1>
  </div>
  <div>
    <img src="https://via.placeholder.com/100x100?text=Logo" alt="Tastogether logo">
  </div>
</div>

<div class="container">
  <%= render 'shared/search_form' %>
  <div>
      <div class="row justify-content-center">
        <% @tastings.each do |tasting| %>
          <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
            <%= link_to tasting_path(tasting), class: "text-decoration-none text-dark" do %>
              <div class="card my-3" style="width: 300px;">
                <div>
                  <% if tasting.photo.attached? %>
                    <%= cl_image_tag tasting.photo.key, transformation: { crop:"fill", height:200, width:300} %>
                  <% else %>
                    <%= image_tag tasting.image, class: "card-photo"%>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <% if tasting.host.photo.attached? %>
                      <%= cl_image_tag tasting.host.photo.key, class: "card-product-user rounded-circle border", width: 50, height: 50%>
                    <% elsif tasting.host.avatar? %>
                      <%= image_tag tasting.host.avatar, class: "card-product-user rounded-circle border", width: 50, height: 50 %>
                    <% else %>
                      <%= image_tag 'https://res.cloudinary.com/dd3n6uf2t/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,b_rgb:262c35/v1630205006/silhouette_od01kv.jpg', class: "card-product-user rounded-circle border", width: 50, height: 50 %>
                    <% end %>
                  </div>

                    <h3 class="card-title"><%= tasting.title %></h3>
                  <p class="card-text">#category</p>
                </div>
                <ul>
                  <li class="text-right">
                    <p><%= tasting.start_at.strftime('%B %e at %l:%M %p') %> - Montreal</p>
                    <% if  current_user.latitude.present?%>
                      <p><%= current_user.distance_to([tasting.latitude, tasting.longitude]).round(2) %>km</p>
                    <% end %>
                  </li>
                </ul>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>
