<h1>Tastings</h1>
<div class="container">
  <div class="search-form-control form-group pt-3">
    <%= form_tag tastings_path, method: :get do%>
      <%= text_field_tag :query, params[:query], class: "form-control" , placeholder: "Discover your next tasting" %>
      <%= submit_tag "Discover" , class: "btn" %>
    <% end %>
  </div>
  <div class="container">
      <div class="row justify-content-center">
        <% @tastings.each do |tasting| %>
          <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
            <%= link_to tasting_path(tasting), class: "text-decoration-none text-dark" do %>
              <div class="card my-3" style="width: 18rem;">
                <img src="https://via.placeholder.com/150x100" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <div class="d-flex justify-content-end">
                    <%= image_tag tasting.host.avatar, class: "rounded-circle border", width: 50, height: 50 %>
                  </div>
                    <h5 class="card-title"><%= tasting.title %></h5>
                  <p class="card-text"><%= tasting.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-right"><%= tasting.date %> - Montreal</li>
                </ul>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>

</div>
