<%# Dark brown div on top of page: %>

<div class="head-banner">
  <div class="head-title">
    <h1>Host a tasting</h1>
  </div>
</div>
<div class="container">
  <div>
    <%= simple_form_for (@tasting) do |f| %>
      <%= f.input :title, placeholder: "Your Tasting's Title"%>
      <%= f.input :description, placeholder: "Describe your Tasting" %>
      <%= f.input :location, placeholder: "Street Name" %>
      <%= f.input :start_at, as: :datetime, html5: true, label: "Starts at" %>
      <%= f.input :capacity, placeholder: "Number of Participants", collection: 2..100, min: 2 %>
      <%= f.input :photo, as: :file %>
      <%= f.association :categories, collection: Category.all.order(name: :asc), as: :check_boxes, multiple: :true, label: "Categories (Pick no more than 3)"%>
      <%= f.button :submit, class: "btn-primary mb-3" %>
    <% end %>
  </div>
  <p class="mb-3"><%= link_to "Back", dashboard_path %></p>
</div>
