<%# Dark brown div on top of page: %>
<div class="bg-secondary py-3 d-flex justify-content-around align-items-center">
  <h1>Host a tasting</h1>
</div>
<div class="container">
  <div>
    <%= simple_form_for (@tasting) do |f| %>
      <%= f.input :title, placeholder: "Your Tasting's Title"%>
      <%= f.input :description, placeholder: "Describe your Tasting" %>
      <%= f.input :location, placeholder: "Street Name, City" %>
      <%= f.input :start_at, as: :datetime, html5: true %>
      <%= f.input :capacity, placeholder: "Number of Participations" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
