  <%# Container div%>
<div class="container tasting-show-container">
  <div class="tasting-card-background">
  </div>
  <%# Card container %>
    <div class="tasting-card">
    <%# Div for tasting card image %>
    <div>
      <% if @tasting.photo.attached? %>
        <%= cl_image_tag @tasting.photo.key, class: "tasting-show-img" %>
      <% else %>
        <%= image_tag @tasting.image, class: "tasting-show-img" %>
      <% end %>
    </div>
    <%# Div for tasting card info %>
    <div>
      <div class="d-flex justify-content-between px-3 mt-3">
          <div>
            <div class="modal fade" id="myModal">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3>
                      <%=@host.username%>'s bio:
                    </h3>
                  </div>
                  <div class="modal-body">
                    <%=@host.bio%>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <%= image_tag @host.avatar, class: "avatar-host" %>
              <a href="#" data-toggle="modal" data-target="#myModal">
                <u><%=@host.username%></u>
              </a>
          </div>
          <div class="tasting-show-calendar">
            <div class="tasting-show-calendar-top">
              <p><%= @tasting.start_at.strftime('%b').upcase %></p>
            </div>
            <div class="tasting-show-calendar-bottom">
              <p><%= @tasting.start_at.strftime('%-d') %></p>
            </div>
          </div>
      </div>
      <div class="d-flex justify-content-center">
        <h2 class="tasting-show-title"><%= @tasting.title.capitalize %></h2>
      </div>
      <div class="px-3 d-flex">
        <% @tasting.categories.each do |category| %>
          <%= link_to "/tastings?query=#{category.name.downcase}&commit=Discover", query: category.name.downcase do %>
            <p class="card-text">#<%= category.name.downcase %> &ensp; </p>
          <% end %>
        <% end %>
      </div>
        <p class="tasting-show-date px-3"><%= @tasting.start_at.strftime('%B %e at %l:%M %p')%></p>
        <%# Guests if statement: %>
        <div class="d-flex text-align-left justify-content-left p-3">
          <% if @tasting.host_participation.status == "finished" %>
            <div>
              <p class ="py-2">Tasting expired.</p>
              <p class="mb-0 text-dark">Guests: <%= @tasting.participations.finished.count-1%>/<%= @tasting.capacity%></p>
              <ul class="d-flex list-inline mt-2 justify-content-left guest-list">
                <% @tasting.participations.finished.each do |participant| %>
                  <% unless participant.host %>
                    <li class="list-inline-item avatar-guest"> <%= cl_image_tag participant.user.avatar%> </li>
                  <% end %>
                <% end %>
              </ul>
            </div>

          <% else %>

            <div>
              <p class="mb-0 text-dark"> Guests: <%= @tasting.participations.accepted.count-1%>/<%= @tasting.capacity%> </p>
              <ul class="d-flex list-inline mt-2 justify-content-left guest-list">
                <% @tasting.participations.accepted.each do |participant| %>
                  <% unless participant.host %>
                    <li class="list-inline-item avatar-guest"> <%= cl_image_tag participant.user.avatar%> </li>
                  <% end %>
                <% end %>
              </ul>
            </div>

          <% end %>

        </div>
      <div class="d-flex justify-content-center px-3">
        <p><%= @tasting.description %></p>
      </div>
      <hr>
      <div>
        <% unless current_user.tastings.include?(@tasting) %>
          <%# <h3 class="text-center">Want to join?</h3> %>
          <%= simple_form_for [ @tasting, @participation ] do |f| %>
          <div class="d-flex justify-content-center text-align-center px-3 tasting-show-msg">
            <%= f.input :initial_message, label: 'Write a message to the host to introduce yourself' %>
          </div>
            <div class="d-flex justify-content-center">
            <%= f.submit "Send my request", class: "btn btn-primary rounded-pill mb-3" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="px-3">
        <% if current_user.hosted_tastings.include?(@tasting)%>
          <% @tasting.participations.pending.each do |participation| %>
          <div>
            <p class="message-request-header"><%= participation.user.username %> requested to attend this tasting.</p>
            <p><%= participation.initial_message %></p>
            <div class="d-flex justify-content-between pt-2">
              <div>
                <%= simple_form_for participation do |f| %>
                  <%= f.hidden_field :status, value: "accepted" %>
                  <%= f.button :submit, "Accept", class: "btn btn-dark rounded" %>
                <% end %>
              </div>
              <div>
                <%= simple_form_for participation do |f| %>
                  <%= f.hidden_field :status, value: "declined" %>
                  <%= f.button :submit, "Decline", class: "btn btn-danger" %>
                <% end %>
              </div>
            </div>
            <hr>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
