<div class="container">
  <h1><%= @tasting.title.capitalize %></h1>

  <p><%= @tasting.description %></p>

  <h3 class="text-center">Want to join?</h3>
  <%= simple_form_for [ @tasting, @participation ] do |f| %>
    <%= f.input :initial_message, label: 'Write a message to the host to introduce yourself' %>
    <%= f.submit "Send my request", class: "btn btn-primary rounded-pill my-3" %>
  <% end %>
</div>
