<div>
    <%= simple_form_for (@tasting) do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :location %>
      <%= f.input :date %>
      <%= f.input :capacity %>
      <%= f.submit %>
    <% end %>
</div>