<div class="head-banner">
  <div class="container head-title d-flex justify-content-between">
    <h1><%= @dashboard.user.username %></h1>
  <div>
    <% if @dashboard.user.photo.attached? %>
      <%= cl_image_tag @dashboard.user.photo.key, :transformation=>[ {:width=>150, :height=>150, :gravity=>"face",
      :crop=>"thumb"}], class: "avatar dropdown-toggle" , id: "navbarDropdown" , data: { toggle: 'dropdown' }%>
    <% elsif @dashboard.user.avatar?%>
      <%= image_tag @dashboard.user.avatar, class: "avatar dropdown-toggle" , id: "navbarDropdown" , data: {
      toggle: 'dropdown' }%>
    <% else %>
      <%= image_tag 'https://res.cloudinary.com/dd3n6uf2t/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,b_rgb:262c35/v1630205006/silhouette_od01kv.jpg', class: "avatar dropdown-toggle" , id: "navbarDropdown" , data: { toggle: 'dropdown' }%>
    <% end %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <%= link_to "Logout" , destroy_user_session_path , method: :delete, class: "dropdown-item" %>
    </div>
  </div>
  </div>
</div>

  <ul class="nav nav-pills mb-3 dashboard-tabs" id="pills-tab" role="tablist">
    <li class="nav-item tab-nav-item" role="presentation">
      <a class="nav-link active my-nav-pills" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
        aria-controls="pills-home" aria-selected="true">Attending</a>
    </li>
    <li class="nav-item tab-nav-item" role="presentation">
      <a class="nav-link my-nav-pills" id="pills-contact-tab" data-toggle="pill" href="#pills-hostings" role="tab"
        aria-controls="pills-hostings">Hosting</a>
      <span id="dashboard-badge">
        <%= render 'shared/request_badge' if current_user.present? %>
      </span>
    </li>
    <li class="nav-item tab-nav-item" role="presentation">
      <a class="nav-link my-nav-pills" id="pills-contact-tab" data-toggle="pill" href="#pills-past" role="tab"
        aria-controls="pills-past">Past</a>
    </li>
  </ul>
<div class="container">
  <div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="attending-pending mb-3">
      <h3>Pending Tastings</h3>
      <div class="dashboard-cards ">
        <% if @dashboard.pending_participations.empty? %>
          <p>You have no pending request at this moment.</p>
        <% end %>
        <% @dashboard.pending_participations.each do |participation| %>
          <%= render "participations/card", participation: participation %>
        <% end %>
      </div>
    </div>
    <div class="attending-upcoming">
      <h3>My Upcoming Tastings</h3>
      <div class="dashboard-cards">
        <% if @dashboard.pending_participations.empty? %>
          <p>You have no pending request at this moment.</p>
        <% end %>
        <% @dashboard.upcoming_tastings.each do |participation| %>
          <%= render "participations/card", participation: participation %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-hostings" role="tabpanel" aria-labelledby="pills-hostings-tab">
    <div class="hosting">
      <div class="dashboard-cards">
        <% @dashboard.hostings.each do |tasting| %>
          <div class="dashboard-card">
            <% if tasting.photo.attached? %>
              <%= cl_image_tag tasting.photo.key%>
            <% else %>
              <%= image_tag tasting.image%>
            <% end %>
            <h3><%= link_to tasting.title, tasting_path(tasting) %></h3>
            <p>
              <%= tasting.start_at.to_time.strftime('%B %e at %l:%M %p') %>
            </p>
            <% if current_user.present? %>
              <% unless current_user.pending_requests_count.zero? %>
                <span class="badge hosting-notification-badge">
                  <%if tasting.participations.pending.size > 1%>
                    <p><%= tasting.participations.pending.size %> notifications pending</p>
                  <%else%>
                    <p><%= tasting.participations.pending.size %> notification pending</p>
                  <%end%>
                </span>
              <%end%>
            <%end%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-past" role="tabpanel" aria-labelledby="pills-past-tab">
    <div class="past">
      <h3>My Past Tastings</h3>
      <div class="dashboard-cards">
        <% @dashboard.finished_tastings.each do |participation| %>
        <div class="dashboard-card">
        <% if participation.tasting.photo.attached? %>
          <%= cl_image_tag participation.tasting.photo.key%>
        <% else %>
          <%= image_tag participation.tasting.image%>
        <% end %>
        <h3>
          <%= link_to participation.tasting.title, tasting_path(participation.tasting) %>
        </h3>
        <p>
          <%= participation.tasting.start_at.to_time.strftime('%B %e at %l:%M %p') %>
        </p>
        </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
