<div class="bg-secondary py-3 d-flex justify-content-around align-items-center">
  <h1><%= @dashboard.user.username %></h1>
  <div class="rounded-circle bg-white">
    <%= image_tag@dashboard.user.avatar, width: 50, height:50 %>
  </div>
</div>
<div class="container">
  <div class="attending-pending my-4">
    <div>
      <h2>Pending tastings</h2>
      <div class="card ">
        <% @dashboard.pending_participations.each do |participation| %>
          <div class="d-flex justify-content-between align-items-center m-4">
            <% if participation.tasting.photo.attached? %>
              <%= cl_image_tag participation.tasting.photo.key%>
            <% else %>
              <%= image_tag participation.tasting.image, width: 100, height: 100 %>
            <% end %>
            <h3><%= link_to participation.tasting.title, tasting_path(participation.tasting) %></h3>
            <%= participation.tasting.date.to_time.strftime('%B %e at %l:%M %p') %>
          </div>
        <% end %>
      <div>
    </div>
  </div>
  <div class="attending-upcoming my-4">
    <div>
      <h2>Upcoming tastings</h2>
      <div class="card">
        <% @dashboard.upcoming_tastings.each do |participation| %>
          <div class="d-flex justify-content-between align-items-center m-4">
            <% if participation.tasting.photo.attached? %>
              <%= cl_image_tag participation.tasting.photo.key%>
            <% else %>
              <%= image_tag participation.tasting.image, width: 100, height: 100 %>
            <% end %>
            <h3><%= link_to participation.tasting.title, tasting_path(participation.tasting) %></h3>
            <%= participation.tasting.date.to_time.strftime('%B %e at %l:%M %p') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="hosting my-4">
    <h2>Hostings</h2>
    <div class="card">
      <% @dashboard.hostings.each do |tasting| %>
        <div class="d-flex justify-content-between align-items-center m-4">
          <% if tasting.photo.attached? %>
            <%= cl_image_tag tasting.photo.key, width: 100, height: 100 %>
          <% else %>
            <%= image_tag tasting.image, width: 100, height: 100 %>
          <% end %>
          <h3><%= link_to tasting.title, tasting_path(tasting) %></h3>
          <%= tasting.start_at.strftime('%B %e at %l:%M %p') %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="past my-4">
    <h2>Past tastings</h2>
    <div class="card">
      <% @dashboard.finished_tastings.each do |participation| %>
        <div class="d-flex justify-content-between align-items-center m-4">
          <% if participation.tasting.photo.attached? %>
            <%= cl_image_tag participation.tasting.photo.key%>
          <% else %>
            <%= image_tag participation.tasting.image, width: 100, height: 100 %>
          <% end %>
          <h3><%= link_to participation.tasting.title, tasting_path(participation.tasting) %></h3>
          <%= participation.tasting.date.to_time.strftime('%B %e at %l:%M %p') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
